/*.row div {*/
/*height: 300px;*/
/*background: #26b725;*/
/*}*/

.dropdown {
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}