@charset "utf-8";


body {
    bgcolor: "white";
    background-image: url(http://fs104.www.ex.ua/get/845673152022/277602509/philips-nowire-branding.jpg);
    background-position: 50% 0px ;
    background-repeat: no-repeat;
    background-color: rgb(239, 239, 239);
    cursor: pointer;
}

.container{
    bgcolor: "white";
    background-color: white;
    width: 1000px;
    color: #0f0f0f;

}

.dropdown {
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}
